* {
	margin: 0;
	padding: 0;
	font-family: 'NanumBarunGothic', 'Nanum Gothic', Dotum, sans-serif;
	font-size: 13px;
	color: #6d6e72;
}


#bottom_info {
	width: 100%;
	min-width: 1000px;
	background: #131111;
	height: 53px;
}

.bottom_info_wrap {
	width: 1060px;
	margin: 0 auto;
	overflow: hidden;
}

.bottom_info_left {
	float: left;
	color: #555c64;
}

.bottom_info_left a {
	padding: 0 17px;
	color: #d3d6db;
	line-height: 53px;
	text-decoration: none;
}

#bottom_copy {
	width: 1060px;
	margin: 0 auto;
	padding-top: 30px;
	background: #FFFFFF;
}

#bottom_copy .maincopy {
	color: #404040;
	font-size: 12px;
	padding-bottom: 15px;
}

#bottom_copy .subcopy {
	color: #7f7f7f;
	font-size: 11px;
	padding-bottom: 55px;
	line-height: 15px;
}